---
import Layout from '../layouts/Layout.astro';
import Header from './header.astro';

const { event_title, event_sub_title, paragraph, images } = Astro.props;
---

<Layout title="">
  <body>
    <div class="page-wrapper">
      <Header />

      <main class="main-wrapper">
        <section id="gallery" class="section_home_socials">
          <div class="padding-global-4">
            <div class="container-large-2">
              <div
                blocks-name="max-width-large"
                blocks-slot-children="ST232"
                class="max-width-large align-center"
              >
                <div class="margin-bottom margin-small">
                  <h2 blocks-name="heading" class="text-align-center">
                    {event_title}
                  </h2>
                </div>

                <p
                  blocks-name="paragraph"
                  class="text-size-medium text-align-center"
                >
                  {event_sub_title}
                </p>
              </div>

              <div
                id="w-node-ef91d6cb-bb95-2fb4-7bd0-33ca22d1307d-e424d2ab"
                class="padding-section-medium w-dyn-list"
              >
                <div class="padding-bottom">
                  {paragraph}
                </div>
                <div
                  role="list"
                  class="gallery5_component no-pagination w-dyn-items"
                >
                  {
                    images.map((image, index) => (
                      <div
                        key={index}
                        role="listitem"
                        class="gallery5_lightbox-link w-dyn-item"
                      >
                        <div class="gallery5_image-wrapper">
                          <img
                            src={image.src}
                            loading="lazy"
                            alt={image.alt}
                            class="gallery5_image-2"
                          />
                        </div>
                      </div>
                    ))
                  }
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer3_component">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-vertical padding-xxlarge">
              <div class="padding-bottom padding-xxlarge">
                <div class="w-layout-grid footer3_top-wrapper">
                  <div
                    blocks-name="footer3_left-wrapper"
                    blocks-slot-children="ST265"
                    class="footer3_left-wrapper"
                  >
                    <div class="margin-bottom margin-medium">
                      <a
                        href="#"
                        blocks-name="footer3_logo-link"
                        class="footer3_logo-link w-nav-brand"
                        ><img
                          src="/assets/images/School Logo.svg"
                          loading="lazy"
                          width="168"
                          alt=""
                        /></a
                      >
                    </div>
                    <div class="margin-bottom margin-medium">
                      <div
                        blocks-name="footer3_details-wrapper"
                        blocks-slot-children="ST232"
                        class="footer3_details-wrapper"
                      >
                        <div class="margin-bottom margin-tiny">
                          <div class="text-block-11">
                            Icon School Of Excellence is a Candidate School* for
                            the IB Diploma Programme (DP). This school is
                            pursuing authorization as an IB World School. These
                            are schools that share a common philosophy—a
                            commitment to high quality, challenging,
                            international education that Icon School Of
                            Excellence believes is important for our students.<br
                            /><br />*Only schools authorized by the IB
                            Organization can offer any of its four academic
                            programmes: the Primary Years Programme (PYP), the
                            Middle Years Programme (MYP), the Diploma Programme,
                            or the Career-related Programme (CP). Candidate
                            status gives no guarantee that authorization will be
                            granted. For further information about the IB and
                            its programmes, visit www.ibo.org<br />‍
                          </div>
                          <div
                            blocks-name="block"
                            class="text-size-small text-weight-semibold"
                          >
                            Address:
                          </div>
                        </div>
                        <div class="margin-bottom margin-small">
                          <div blocks-name="block-2" class="text-size-small">
                            Icon School Of Excellence, 118/2, Bettadasanapura
                            Rd, Doddathoguru, Electronics City Phase 1,
                            Electronic City, Doddathoguru, Karnataka 560100<br
                            />‍
                          </div>
                          <div blocks-name="block-2" class="text-size-small">
                            Candidate school for the International Baccalaureate
                            (IB) Middle Years <br />Programe.<br />Candidacy No.
                            – 999999.<br />Affiliated to the Council for the
                            Indian School Certificate Examinations (ICSE).<br
                            />School Code – KA001.State Registration No. –
                            111111.<br />‍
                          </div>
                        </div>
                        <div class="margin-bottom margin-tiny">
                          <div
                            blocks-name="block-3"
                            class="text-size-small text-weight-semibold"
                          >
                            Contact:
                          </div>
                        </div>
                        <div blocks-name="block-4" class="text-size-small">
                          <a href="#">management@iconschoolofexcellence.com</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-layout-grid footer3_menu-wrapper">
                    <div
                      blocks-name="footer3_link-list"
                      blocks-slot-children="ST232"
                      class="footer3_link-list"
                    >
                      <a
                        blocks-name="footer3_link"
                        href="/"
                        aria-current="page"
                        class="footer3_link w--current">Home</a
                      ><a
                        blocks-name="footer3_link-2"
                        href="/about"
                        class="footer3_link">About</a
                      ><a
                        blocks-name="footer3_link-3"
                        href="/contact"
                        class="footer3_link">Contact</a
                      ><a
                        blocks-name="footer3_link-4"
                        href="/admissions"
                        class="footer3_link">Admissions</a
                      ><a
                        blocks-name="footer3_link-5"
                        href="/careers"
                        class="footer3_link">Career</a
                      ><a
                        blocks-name="footer3_link-5"
                        href="/careers"
                        class="footer3_link">Newsletter</a
                      ><a
                        blocks-name="footer3_link-5"
                        href="/careers"
                        class="footer3_link">Student Achievements</a
                      >
                    </div>
                    <div
                      blocks-name="footer3_link-list-2"
                      blocks-slot-children="ST232"
                      class="footer3_link-list"
                    >
                      <a
                        blocks-name="footer3_link-6"
                        href="/explore-cbs"
                        class="footer3_link">Explore ISOE</a
                      ><a
                        blocks-name="footer3_link-7"
                        href="/blog"
                        class="footer3_link">Blog</a
                      ><a
                        blocks-name="footer3_link-8"
                        href="/gallery"
                        class="footer3_link">Gallery</a
                      ><a
                        blocks-name="footer3_link-9"
                        href="/facilities"
                        class="footer3_link">Facilities</a
                      ><a
                        blocks-name="footer3_link-9"
                        href="/academics"
                        class="footer3_link">Academics</a
                      ><a
                        blocks-name="footer3_link-9"
                        href="/academics"
                        class="footer3_link">In the Press</a
                      ><a
                        blocks-name="footer3_link-9"
                        href="/academics"
                        class="footer3_link">Awards</a
                      ><a
                        blocks-name="footer3_link-9"
                        href="/academics"
                        class="footer3_link"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line-divider"></div>
              <div class="padding-top padding-medium">
                <div class="footer3_bottom-wrapper">
                  <div class="footer3_credit-text">
                    © 2024 ISOE. All rights reserved.
                  </div>
                  <div
                    blocks-name="footer3_legal-list"
                    blocks-slot-children="ST232"
                    class="w-layout-grid footer3_legal-list"
                  >
                    <a
                      href="https://www.chamanbhartiya.com/tnc"
                      blocks-name="footer3_legal-link-2"
                      class="footer3_legal-link">Terms of Service</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</Layout>
